certifi==2026.7.22
cffi==2.1.1
charset-normalizer==3.5.1
colorama==0.4.6
contourpy==1.3.3
cryptography==50.0.1
cycler==0.12.1
drawnow==0.72.5
fonttools==4.64.0
idna==3.19
kaitaistruct==0.11
kiwisolver==1.5.1
matplotlib==3.11.1
miniaudio==1.71
numpy==2.5.2
packaging==26.3
pillow==12.3.0
prettyprint==0.1.5
pycparser==3.0
pyparsing==3.3.2
pyqt5==5.15.11
pyqt5-qt5==5.15.2
pyqt5-sip==12.19.0
pyqtgraph==0.14.0
python-dateutil==2.9.0.post0
python-dotenv==1.2.3
requests==2.34.2
six==1.17.0
slm-open-api-package==0.2.9
urllib3==2.7.0 
websockets==17.1
